.DS_Store
BowserReach.txt
ChemHRClips.txt
DKPullOuts.txt
DKSlap.txt
FalconPop.txt
S4Week1.txt
S4Week2.txt
S5Week1.txt
S5Week1.zip
SLICEHighlights.txt
Week1.txt
Week2.txt
Week3.txt
Week4.txt
Week5and6.txt
Week7and8.txt
S4Week1/AbrasiveGenerousPassionfruitCoolStoryBob-Tkx19OAx1bH3q-DS.mp4
S4Week1/AbstruseHotTortoiseDBstyle-zbtbmVTgc-CXLYoK.mp4
S4Week1/BelovedSparklingBisonStrawBeary-XZHv4bLaum3HVlKR.mp4
S4Week1/BlueConfidentBatteryItsBoshyTime-mDAZ8zO1lKbv9yQu.mp4
S4Week1/CreativeWrongToadBudBlast-ppnOnqYEL-E7GftW.mp4
S4Week1/CutePlumpCookieTBCheesePull-gw2wiMsf_0ruezbF.mp4
S4Week1/DarlingUninterestedPeachBabyRage-a3DYdR_wlqkTwIDJ.mp4
S4Week1/DelightfulDignifiedTomatoHeyGirl-WIXjYLz5uvcK8uvT.mp4
S4Week1/ExpensiveAmorphousDelicataPicoMause-9rgQAbLh0bbrMJ_e.mp4
S4Week1/FinePrettiestWalrusOneHand-HvMEVZ2qlft99Opj.mp4
S4Week1/FragileFlaccidEyeballUnSane-JlvGaL31xJ3pUWzr.mp4
S4Week1/ImportantComfortableSandstormEleGiggle-su-CHF-eNBFwAFvK.mp4
S4Week1/NastyCoyWerewolfPoooound-U65d-8PW2hTlg0We.mp4
S4Week1/NimbleGrotesqueTaroCharlieBitMe-udu2nyhEyr6SV7UI.mp4
S4Week1/NurturingImpartialRutabagaGingerPower-UEQkuEUAbwdWr9Ch.mp4
S4Week1/OddCalmHabaneroRlyTho-mVBpiTgzG3t5KgNY.mp4
S4Week1/PlainIronicPeafowlBlargNaut-aQ27HBIDM5emfZO4.mp4
S4Week1/RepleteOptimisticCoyoteAMPEnergy-_qWBs_GFr_EWfGKY.mp4
S4Week1/ScaryRenownedToothBrainSlug-d9ZpS6QeTA3p7Rte.mp4
S4Week1/SeductiveSmilingPlumberKappa-KU_3evw44qH_RCt_.mp4
S4Week1/SilkyStormyStorkTwitchRPG-i4uNp7Q4oYS5BnRw.mp4
S4Week1/SteamyPleasantStarlingAMPEnergyCherry-5I_oLu0UBldOADMe.mp4
S4Week1/StylishGrotesqueLarkTebowing-Up-o8IU48BKI7GFf.mp4
S4Week1/TacitObliviousPuppyDuDudu-DVfUbyVA5gnQPeXi.mp4
S4Week1/TangibleFrailCockroachKevinTurtle-tRlA6a06F-vvjW4b.mp4
S4Week1/TubularClumsyMinkNononoCat-a56s-C5nRPrE0ym_.mp4
S4Week1/VibrantCourageousEelArgieB8-VRJ0M40MQAtRbHez.mp4
S4Week2/2023-09-02 22-29-06.mp4
S4Week2/2023-09-02 22-32-31.mp4
S4Week2/2023-09-02 22-33-29.mp4
S4Week2/2023-09-02 22-35-42.mp4
S4Week2/AffluentKnottyAntJebaited-xMFa6rmMEICt-eBj.mp4
S4Week2/AlertDelightfulCocoaTinyFace-0TTweaipvsq2XmM5.mp4
S4Week2/AntediluvianTangibleHippoRalpherZ-Yw2i9y6iidqmXVLy.mp4
S4Week2/BitterRudePigeonDoritosChip-iuz-7kLCnXYfq3eX.mp4
S4Week2/BoringKnottyGoosePeoplesChamp-NX8HrumNgMYyq8gl.mp4
S4Week2/CalmDignifiedRhinocerosChefFrank-S0UnNCepwl3_rf_7.mp4
S4Week2/CrepuscularCharmingTrollStoneLightning-eX2BS16UO9xgzE48.mp4
S4Week2/CrunchyFreezingCookieSSSsss-LuQkewb3MRFiK7IL.mp4
S4Week2/CrunchySmoggyToadBudBlast-o_d826ZOKKb0LzpT.mp4
S4Week2/DeadBumblingPartridgeSaltBae-GnjTd57MiyRsWa-e.mp4
S4Week2/DeliciousCreativeYogurtKappaPride-q90G2mSkbvR0o7bs.mp4
S4Week2/DelightfulTenderZebraCclamChamp-rL7Mx-9elJ0vd_Sa.mp4
S4Week2/EnthusiasticKnottyBeaverPanicBasket-ZSiXrJt1D3gOKwT3.mp4
S4Week2/FlaccidWimpyPuddingPhilosoraptor-t88YM73Wn3ZspsHp.mp4
S4Week2/FrozenMistyLarkBibleThump-dCqJdSX3QelIOMm1.mp4
S4Week2/FuriousLittleBearHumbleLife-ZH8_tMh839pE90Oq.mp4
S4Week2/HelplessSmilingAsteriskRalpherZ-ZwW3Ez_Eij7Khs9k.mp4
S4Week2/HumbleMoldyGoatArgieB8-bKisCPMqisISXLL7.mp4
S4Week2/ObedientProudNostrilGivePLZ-fvSK6qB9we4dl5QC.mp4
S4Week2/PlumpAgileFungusWutFace-VbmtV8Grcuyko-yQ.mp4
S4Week2/RefinedSmallPlumberPanicVis-WF9Fcdc9ASWTivpn.mp4
S4Week2/SoftCaringTitanHeyGirl-jyje3AYRHJH9Fqv3.mp4
S4Week2/TenderGoodLocustImGlitch-pg1RN7eHLCBdr3TD.mp4
VickSLICEHighlights/AmusedTameNoodleBrokeBack-umqP5h4VCMbaeOFk.mp4
VickSLICEHighlights/ArborealYawningGrasshopperDatBoi-qLE9z4vXfYtTSMKs.mp4
VickSLICEHighlights/AverageTentativeMallardFailFish-ZXxfWOzp2WPYHVg9.mp4
VickSLICEHighlights/BenevolentFairSandwichRiPepperonis-qAgf0bYuPH9fg8hM.mp4
VickSLICEHighlights/BlatantIronicChipmunkFreakinStinkin-eNugEP6nGqQ3ztpu.mp4
VickSLICEHighlights/BloodySplendidFriseeFUNgineer-7iOKuuqZZTiGGXh1.mp4
VickSLICEHighlights/BoredAbstruseHorseStoneLightning-eavk_Ijto4KNTI5W.mp4
VickSLICEHighlights/ConsiderateHeartlessVelociraptorBlargNaut-Y8lQZK9lVxHx1r2T.mp4
VickSLICEHighlights/CourageousPlayfulCheesecakeChocolateRain-z_fnideKRSxoJDO0.mp4
VickSLICEHighlights/CoyPolishedMuleTinyFace-UKl8KmwlLhDr3fFv.mp4
VickSLICEHighlights/CredulousUninterestedPepperoniBuddhaBar-9EEsWuty9cz05UoK.mp4
VickSLICEHighlights/DrabSmoggyChowderDeIlluminati-jdXcWSIJpVPMBbby.mp4
VickSLICEHighlights/EnchantingAnnoyingWasabiUnSane-6FypBtHnddU26iWQ.mp4
VickSLICEHighlights/ExuberantGracefulKathySeemsGood-5PSexAzZ2EwlC8Mq.mp4
VickSLICEHighlights/FastDaintyPangolinShadyLulu-t9z276S1O2GdkmTv.mp4
VickSLICEHighlights/FastExuberantInternDBstyle-XoDQmkorgOSXZcti.mp4
VickSLICEHighlights/FriendlyPowerfulSandpiperArsonNoSexy-vDbtHS01PWj2u79U.mp4
VickSLICEHighlights/FriendlySmilingShallotStrawBeary-U73sa_O--YG-2heA.mp4
VickSLICEHighlights/FrigidSaltyKoupreyDendiFace-TnFux2a8qMCDmMCL.mp4
VickSLICEHighlights/FurrySuspiciousCoyoteCoolCat-TuYw36MoOWWkHQxo.mp4
VickSLICEHighlights/GorgeousPopularTubersTheThing-0lZPsZACepjVCkHZ.mp4
VickSLICEHighlights/IgnorantLaconicEagleKippa-LvM6f6AdqC3CR988.mp4
VickSLICEHighlights/IronicAmazingKoupreyYouWHY-5wEIK0xYUQNof992.mp4
VickSLICEHighlights/MoldyVainMinkTriHard-3YqT2ilvmI1gdbs6.mp4
VickSLICEHighlights/OptimisticCrypticPeachLeeroyJenkins-piOXw4Te_ePhwoTC.mp4
VickSLICEHighlights/PrettyPowerfulPeppermintBCouch-WA517uBkmlQ8TrMo.mp4
VickSLICEHighlights/ProductiveKitschyDadPeteZarollTie-sWOJM5vyVdTrtyMe.mp4
VickSLICEHighlights/RespectfulTangentialGoblinFunRun-QwJsAMicYXN1_bkb.mp4
VickSLICEHighlights/ScarySparklyRhinocerosHeyGuys-fbVDRwniGCIzLvf8.mp4
VickSLICEHighlights/SmellyHotIcecreamKreygasm-i3m71dVQP0FxoZ1Y.mp4
VickSLICEHighlights/SmoothCovertJalapenoBabyRage-_iMAOFE8ngSJPuGI.mp4
VickSLICEHighlights/StrangeInnocentCatKeepo-WDaQDEkN03CBAK4d.mp4
VickSLICEHighlights/TallSmoothOxKappaClaus-bWBKQfXY8trh64zT.mp4
VickSLICEHighlights/UglyKindSmoothieWTRuck-OsRxCDzLKnPTNfPr.mp4
VickSLICEHighlights/WittyWittyKleeKlappa-UPkVkbrYlzEKR0kr.mp4
VickSLICEHighlights/YawningAgileShallotGingerPower-8nzYvDmdenciDWi6.mp4
Week1/ClearWanderingAntelopeTwitchRaid-DiKT1feo15h4VAco.mp4
Week1/DP to end it.mp4
Week1/DreamyPrettyNeanderthalSSSsss-lvi2KdedTepkL4kz.mp4
Week1/DullSoftSandstormMcaT-Wp-7e-2SmMvKy3Gj.mp4
Week1/EnergeticFragileSpiderShadyLulu-eO0Gb6lb6uCdlwI1.mp4
Week1/Garlic Ball.mp4
Week1/JollyTriumphantRadicchioTheThing-MFBn2NHtbJh_o6zD.mp4
Week1/ReliableInexpensiveVampireNerfBlueBlaster-Ilx_QOG0HI7f16iT.mp4
Week1/SlickAttractiveButterKappaWealth--AIAJUGUa0Ee-kK5.mp4
Week1/SquareSaltyTeaOSsloth-y2mIC5NxHu8YtprM.mp4
Week2/CoyDarlingOxWholeWheat-VDvVPbPjxwJxss08.mp4
Week2/ExpensivePeacefulVanillaAMPEnergyCherry-ZFt6OfpFQelbO-Pz.mp4
Week2/GenerousClearClipsdadHoneyBadger-z3ZvkxDdkwZmIs-Q.mp4
Week2/InquisitiveQuaintBoarPMSTwin-mVHTho4zoSLw4m1_.mp4
Week2/IntelligentInspiringGooseBatChest-7h7d5XdMTG5uIUMV.mp4
Week2/JazzyInspiringWitchAMPEnergy-79LoZiTnedii-EHl.mp4
Week2/TiredImpossibleCheeseFunRun-HrIJ6vtNcp-Oukoh.mp4
Week2/TransparentUnsightlyFloofNomNom-Dt9S1qZJuQI0sJ3T.mp4
Week2/TubularSmallPenguinM4xHeh-lQg1xk7opbN-dQxI.mp4
Week2/WimpyBombasticWalrusMcaT-BSB08UXQ4KpiKzlN.mp4
Week3/AcceptableStylishMinkYouDontSay-pls_-SqgTQQABjTD.mp4
Week3/AdorableRelentlessCatShazBotstix-tDa38DouvNM6a-S6.mp4
Week3/AgitatedGoldenCormorantStinkyCheese-Wh7JIVx_cm7L058a.mp4
Week3/AlertTardyClipsdadOptimizePrime-JnA2VOgD7BnahCfU.mp4
Week3/AliveAssiduousTapirTheRinger-q2-b8usoCTHEco3Y.mp4
Week3/AlluringPatientFerretBCouch-GCUT90lcJMHkpGKs.mp4
Week3/AverageBombasticCattleFailFish-NIBqXRDIFLCrMeWv.mp4
Week3/BlatantConfidentBeaverPlanking-B2T3V63MB-YVUtnh.mp4
Week3/BlatantPoorCobblerKappaClaus-4xr6i6qx0PdpVewp.mp4
Week3/BoringCaringPepperoniKreygasm-t-FfGm6kf36W_kV3.mp4
Week3/BrainyRefinedPigeonPJSalt-Y1a14tb4x_gt8Joi.mp4
Week3/CarelessCaringLadiesDoubleRainbow-0QQnTCeI8rGARE5e.mp4
Week3/CourteousDifficultBatHotPokket-x5iw2yiUcvwq1apu.mp4
Week3/CoweringSecretiveBananaSuperVinlin-zrGi0Jc5QMoZyewA.mp4
Week3/CrispyFancyLeopardTheRinger-hPXycQhBWgwYGAKR.mp4
Week3/DarkBlitheCaterpillarHoneyBadger-Ow6AEHyib6ka4_jz.mp4
Week3/DeafMagnificentAsteriskBrokeBack-GFEgvH5e9NCMg2eb.mp4
Week3/DullColdbloodedCheddarPoooound-dknvoBLwitpg2AS2.mp4
Week3/ExquisiteEnthusiasticBaguetteMcaT-_HVxix_f-R9ua5sq.mp4
Week3/ExuberantEphemeralFalconDatSheffy-CuKNLd55_hQByejf.mp4
Week3/FantasticTallInternPraiseIt-tWHj9YOTa2ZNESU1.mp4
Week3/GentleSourHareSoBayed-RauBrsWeEJsbRPI7.mp4
Week3/GleamingUnusualFalconDxCat-ctPU1lKJGha2F-as.mp4
Week3/InspiringKawaiiSnailPogChamp-kAPghaQaezsnZ5C7.mp4
Week3/JollyEndearingRadishKappaRoss-imSfdIDCyRuIBNul.mp4
Week3/JollyFitFrogPJSugar-uPqyFMwR83UtHMC8.mp4
Week3/LitigiousGeniusRaisinSmoocherZ-fXPGFKEyKUMMZmVe.mp4
Week3/NimbleTawdryWaterAMPEnergyCherry-jEBloU2HiYh0K92_.mp4
Week3/OptimisticKnottyWalrusPunchTrees-bkPfrhkXsGMuVyr7.mp4
Week3/PlainPopularOryxDancingBanana-S8y6iO7OBlrAraKu.mp4
Week3/ShinyPreciousDiamondAllenHuhu-D5zpvi9rgVI1eI85.mp4
Week3/SmoggyLitigiousRhinocerosAMPTropPunch-eWMw-NDajm_gYDn2.mp4
Week3/SolidSassyRedpandaRickroll-6MZ-zT2imU6q_FCg.mp4
Week3/TameOutstandingTurtleSeemsGood-sTJgy0T7uOzOze-l.mp4
Week3/TangentialCarelessKimchiPipeHype-ALPXIiU9Y2yHTjr2.mp4
Week3/ThirstyDepressedRamenBuddhaBar-5NeRLAgIlNqlG2OG.mp4
Week3/ToughSullenCatPanicVis-DJfuAun4oRqRxnmP.mp4
Week3/TriumphantCredulousFriesTinyFace-qsNO30gRL3cac6wA.mp4
Week3/UglyDarlingWalrusOneHand-lI-wXxfh1c8uziU3.mp4
Week3/VainWealthyOryxDAESuppy-Od57yUiTigTHHyr_.mp4
Week3/ViscousKindDonutRickroll-GuEFM6AVlmKaMhUq.mp4
Week3/ZanyLittleDiscDuDudu-yCBsyKivR3XFzfot.mp4
Week4/AmericanNeighborlyKumquatBudBlast-3BY3QMKakl7T2YR5.mp4
Week4/ClumsyExuberantSwordDatSheffy-IyTgkOwcN5I57RCS.mp4
Week4/CrunchyEncouragingDiamondDAESuppy-EKxNBy4_9EFnYcqy.mp4
Week4/DifficultFlaccidWatercressTBCheesePull-xgURD2J-HTt8Xz8n.mp4
Week4/EphemeralStupidCheesecakeSSSsss-Ay3nFIhbWQ5syBM5.mp4
Week4/EsteemedCovertPlumberTwitchRaid-pTqJtDx5R_twa-HM.mp4
Week4/GrotesqueDiligentAsparagusMingLee-Q3Vd7pG7dID_JBAv.mp4
Week4/KathishColorfulCurryBibleThump-bn_IxZ2l42WdjAmI.mp4
Week4/NiceCuteTomatoLitFam-u3Zu-mPXDyF94h9e.mp4
Week4/NimbleShakingAlligatorM4xHeh-Z39nB0q25bNbXAWE.mp4
Week4/OriginalSmellyBeanHeyGirl-LC_oJeA8lW2_a9Pj.mp4
Week4/PricklyGracefulStrawberryArsonNoSexy-XagF6fPFAEsnug3Y.mp4
Week4/PricklyWonderfulSangOptimizePrime-RVsq1-1mk25s7k2k.mp4
Week4/ShyCredulousTapirNotATK-Z2YUk2MWdZQRSVD0.mp4
Week4/StrangeZealousNostrilPipeHype-4csSkni8FMZV0GZ4.mp4
Week5and6/2023-05-07 12-37-46.mp4
Week5and6/AggressiveSuperBunnyStoneLightning-yt4mmCFEmJgEA7Ng.mp4
Week5and6/BrainyQuaintHyenaGingerPower-u9VEhETUrOPEVK-F.mp4
Week5and6/DirtySullenWhaleVoHiYo-m5rCTJyNKEZ1tvBG.mp4
Week5and6/GoodDifficultWoodcockPeanutButterJellyTime-54UJdPBDN0HlzNYA.mp4
Week5and6/GrotesqueAttractiveRedpandaPicoMause-EyHjpLF7lBGidZ_0.mp4
Week5and6/MistySnappySoymilkOhMyDog-718GPy-_hDjqrtx3.mp4
Week5and6/PlausibleWittyOpossumDoggo-B6lplYnLMBRKOxMZ.mp4
Week5and6/RockyTameFlamingoDansGame-2tjYCTRb8QTHkoQh.mp4
Week5and6/SavoryScaryPhoneOptimizePrime-1O0kwE9Ign-vB_MA.mp4
Week7and8/BillowingIronicLEDPipeHype-ggMymBYjpQF3bhlK.mp4
Week7and8/ChillyBusyPistachioStinkyCheese-zlmqIEtEIhTz6_E1.mp4
Week7and8/ClearHungryFloofChocolateRain-bDanUysOWBv5G5IZ.mp4
Week7and8/DignifiedKathishPicklesOpieOP-3B_guTJWQQ8prFg6.mp4
Week7and8/DirtyVenomousOilPJSugar-pfK5dOjvkbjdeK9v.mp4
Week7and8/FaithfulIncredulousDunlinPanicVis-oUEzozD-P25-dTqj.mp4
Week7and8/GloriousAffluentTubersDeIlluminati-h69GwgtZZX9DFohr.mp4
Week7and8/GlutenFreeGentleSpiderOptimizePrime-BnPFWwmQaB98Jw43.mp4
Week7and8/MoistMistyHornetOSsloth-UdAhDHZoqUAhmDlE.mp4
Week7and8/MuddyDependableShrimpRaccAttack-_GmlCZzomROct699.mp4
Week7and8/MushyZanyPineappleFrankerZ-ntcuM02rluW3N1wi.mp4
Week7and8/NastyIntelligentFalconTheTarFu-q0jSKYa3wdeA_aqx.mp4
Week7and8/OilyRespectfulAniseTakeNRG-aN24RSqpyCpNWp1z.mp4
Week7and8/OpenRepleteWaffleWow-66xLx6g0O9hfdgcP.mp4
Week7and8/PluckySpookyMallardOpieOP-xMXr15AELJlbKmAZ.mp4
Week7and8/PuzzledExquisiteSwallowOSkomodo-msmX6occxAO0D77A.mp4
Week7and8/SassyFunLarkArsonNoSexy-Z0LgV6FPCI6CRHdo.mp4
Week7and8/StylishBrainyBarracudaVoHiYo-4LfMWRP7FVDGPypX.mp4
Week7and8/StylishSpoopyCaterpillarRitzMitz-r8ehseqLySs2iwjy.mp4
Week7and8/VastAbstemiousBasenjiDoggo-N_j34SU88aRXeSiS.mp4
Week7and8/VictoriousExquisitePuddingWow-Ncewexd-m56rimxe.mp4